@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-size: small;
  font-family: arial,sans-serif;
  background: url(bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
  background-size: cover;
  background-color: #cbdad5;
}

.navbar-default {
    background-color: rgb(72, 72, 72);
    border: none;

    .navbar-brand {
      color: #fff;
    }

    .navbar-brand:focus, .navbar-brand:hover {
    color: #dadada;
    background-color: transparent;
    }

    .navbar-nav  li  a {
      color: #fff;
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #dadada;
    background-color: transparent;
    }

    .navbar-nav > .active > a {
    color: #fff;
    background-color: rgba(41, 41, 41, 0.61);
    }

   .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover {
    color: #dadada;
    background-color: rgba(35, 35, 35, 0.72);
    }

    #create-blog-btn {
        padding: 5px 10px 5px 10px;
    }

    .create-blog-btn {
      padding-top: 6.5%;
      padding-right: 15px;
    }
}


.errors {
  .alert {
    padding: 5px;
    margin-bottom: 5px;

    h3 {
      padding: 5px;
      margin-top: 0px;
      font-size: 15px;
      margin: 0px;
    }
  }
}
